/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require responsive
 */

@font-face {
  font-family: 'open_sansregular';
  src: url('opensans-regular-webfont.eot');
  src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans-regular-webfont.woff') format('woff'),
       url('opensans-regular-webfont.ttf') format('truetype'),
       url('opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('opensans-light-webfont.eot');
  src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('opensans-light-webfont.woff') format('woff'),
       url('opensans-light-webfont.ttf') format('truetype'),
       url('opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'open_sansregular' !important;
  font-size: 14px;
  background-image: url(bg2.png);
}



