.image-view {
	position: absolute;
	z-index: 1;
	margin-left: -200px;
	margin-top: 83px;
	text-align: center;
	width: 100px;
	opacity: 0;
	transition:opacity 1s;
	-webkit-transition:width .5s, height .5s, -webkit-transform .5s;
	&:hover {
		opacity: 1;
	}
}

.hover-active {
}