.show-image-view {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 12px;
}

.show-large-image-view {
  position: absolute;
  top: 0;
  padding: 47px 0;
  width: 94.5%;
  z-index: 1;
  background-color: #000;
  opacity: .7;
}

.translation-icons {
  margin-top: 22px;
  a {
    margin: 0 5px;
  }
}

.pratama-gallery-right-content {
  background-color: #fff;
  box-shadow: 0 2px 2px #CCCCCC;
  padding: 10px;
}

.gallery-item {
  &:hover {
    transition: all 1s ease;
    transition: -wbkit-all 1s ease;
    -webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    -o-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }
}

