@import "variables.less";
@import "mixins.less";
body {
  background-color: @grayLighter;
}

.box-container {
  background-color: rgb(250, 250, 250);
  width: 100%;
  .border-radius(1px) ;
  -webkit-box-shadow: 0 0 7px rgb(184, 184, 184);
  -moz-box-shadow: 0 0 7px rgb(184, 184, 184);
  box-shadow: 0 0 7px rgb(184, 184, 184);
  padding: 10px;
  float: left;
}

.inline {
  display: inline-block;
  li {
    float: left;
    margin: 5px;
  }
}

// Navigation
.navbar-custom {
  background-image: -webkit-linear-gradient(top, rgb(114, 70, 14), rgb(88, 73, 11)) !important;
  background-image: -moz-linear-gradient(top, rgb(114, 70, 14), rgb(88, 73, 11)) !important;
  background-image: -o-linear-gradient(top, rgb(114, 70, 14), rgb(88, 73, 11)) !important;
  background-image: linear-gradient(top, rgb(114, 70, 14), rgb(88, 73, 11)) !important;
}

// Text Align
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }

// Padding
.padv-20 { padding: 20px 0; }
.nopad { padding: 0 !important; }
.padt50 { padding-top: 60px; }

// Margin
.nomarg { margin: 0 !important; }
.mart50 { margin-top: 20px; }

.no-radius {
  .border-radius(0) !important;
}

.navbar {
  .btn-navbar {
    margin-bottom: 6px;
    margin-right: 0;
  }
}

// Button
.header-bgcolor {
  background-color: hsl(151, 5%, 34%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6f7b75", endColorstr="#525b56");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#6f7b75), to(#525b56));
  background-image: -moz-linear-gradient(top, #6f7b75, #525b56);
  background-image: -ms-linear-gradient(top, #6f7b75, #525b56);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f7b75), color-stop(100%, #525b56));
  background-image: -webkit-linear-gradient(top, #6f7b75, #525b56);
  background-image: -o-linear-gradient(top, #6f7b75, #525b56);
  background-image: linear-gradient(#6f7b75, #525b56);
  -webkit-font-smoothing: antialiased;
  a {
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.19) !important;
  }
}

// Text Shadow
.text-shadow(@textShadowNormal) {
  -webkit-text-shadow: @textShadowNormal;
  -moz-text-shadow: @textShadowNormal;
  -o-text-shadow: @textShadowNormal;
  text-shadow: @textShadowNormal;
}

// Box Shadow
.light-box-shadow(@lightBoxShadow) {
  -webkit-box-shadow: @lightBoxShadow;
  -moz-box-shadow: @lightBoxShadow;
  -o-box-shadow: @lightBoxShadow;
  box-shadow: @lightBoxShadow;
}

.inset-left-box-shadow {
  -webkit-box-shadow: inset 2px 2px 2px #ccc;
  -moz-box-shadow: inset 2px 2px 2px #ccc;
  -o-box-shadow: inset 2px 2px 2px #ccc;
  box-shadow: inset 2px 2px 2px #ccc;
}

// Border Radius
.border-radius(@first: 0, @sec: 0, @thr: 3px, @color: #ccc){
  -webkit-border-radius: @first @sec @thr @color;
  -moz-border-radius: @first @sec @thr @color;
  -o-border-radius: @first @sec @thr @color;
  border-radius: @first @sec @thr @color;
}

// Separator
.separator {
  float: left !important;
  background-image: url("/assets/separator.png");
  background-repeat: no-repeat;
  background-color: tranparent;
  background-position: center center;
  min-height: 80px;
  width: 100%;
  margin: 30px 0 !important;
}

// Footer
.footer {
  margin: 30px 0;
  text-align: left;
  color: #666;
}

// Override Carousel
.carousel-inner {
  .item {
    p {
      margin: 220px 40px 0 40px;
      font-size: 12px;
    }
  }
}
