.header-container {
	background-color: rgb(92, 87, 70);
	margin-bottom: 0;
	.navbar-brand {
		color: #fff;
	}
	.active > a {
		background-color: rgb(75, 74, 58);
		color: rgb(124, 119, 80);
		&:hover {
			background-color: rgb(109, 97, 65);
			color: rgb(255, 255, 255);
		} 
	}
}