<div id="promotion-<%= promotion.id %>" class="modal hide fade" style="text-align: left; font-size: 12px; color: #666;">
  <div class="span12">
    <% if !promotion.image.blank? %>
      <%= image_tag promotion.image %>
    <% else %>
      <%= image_tag "/assets/noImage.jpg" %>
    <% end %>
    <p><%= promotion.description %></p>
  </div>
</div>
