<div class="span12 nomarg products-container">
  <h1 class="title-container">Our Products</h1>
  <div class="row-fluid">
    <div class="span12 product-content">
      <div class="row-fluid">
        <div class="span3 product-left-container">
          <%= link_to "javascript:void(0);" do %>
            <%= image_tag "/assets/noImage.jpg"%>
          <% end %>
        </div>
        <div class="span9 product-right-container">
          <h3 class="title-container">Product Title</h3>
          <p class="description">
            Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum
          </p>
          <h4 class="title-container">Specifications</h4>
          <div class="list-container">
            <div class="list-content">
              <div class="title">
                Long
              </div>
              <div class="value">
                600
              </div>
              <div class="unit">
                mm
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Width
              </div>
              <div class="value">
                75
              </div>
              <div class="unit">
                kg
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Height
              </div>
              <div class="value">
                200
              </div>
              <div class="unit">
                mm
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Block per Vallet
              </div>
              <div class="value">
                280
              </div>
              <div class="unit">
                block
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Weight per Vallet
              </div>
              <div class="value">
                1890
              </div>
              <div class="unit">
                kg
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Volume
              </div>
              <div class="value">
                111
              </div>
              <div class="unit">
                block
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Brick Wall
              </div>
              <div class="value">
                13
              </div>
              <div class="unit">
                m3
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span12 nomarg product-content">
      <div class="row-fluid">
        <div class="span3 product-left-container">
          <%= link_to "javascript:void(0);" do %>
            <%= image_tag "/assets/noImage.jpg"%>
          <% end %>
        </div>
        <div class="span9 product-right-container">
          <h3 class="title-container">Product Title</h3>
          <p class="description">
            Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum
          </p>
          <h4 class="title-container">Specifications</h4>
          <div class="list-container">
            <div class="list-content">
              <div class="title">
                Long
              </div>
              <div class="value">
                600
              </div>
              <div class="unit">
                mm
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Width
              </div>
              <div class="value">
                75
              </div>
              <div class="unit">
                kg
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Height
              </div>
              <div class="value">
                200
              </div>
              <div class="unit">
                mm
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Block per Vallet
              </div>
              <div class="value">
                280
              </div>
              <div class="unit">
                block
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Weight per Vallet
              </div>
              <div class="value">
                1890
              </div>
              <div class="unit">
                kg
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Volume
              </div>
              <div class="value">
                111
              </div>
              <div class="unit">
                block
              </div>
            </div>
            <div class="list-content">
              <div class="title">
                Brick Wall
              </div>
              <div class="value">
                13
              </div>
              <div class="unit">
                m3
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
